.logo {
    font-size: 60px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: underline;
    margin: 0;
    margin-right: 20px;
    color: var(--brown);
}

.section-title {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.separator {
    width: 100px;
    border: 1px solid var(--brown);
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    border: 2px solid var(--brown);
}

.side-bar {
    flex-direction: column;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 2000;
    padding: 40px 20px;
    width: 320px;
    height: 100%;
    overflow: auto;
    display: none;
    opacity: 0;
    left: -320px;
    transition: 0.5s;
    margin-top: 0;
    -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.53);

    &__exit-wrapper {
        display: flex;
        justify-content: flex-end;

        img {
            width: 35px;
            height: 35px;
        }
    }

    nav {
        margin-top: 43px;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style-type: none;

            li {
                margin-bottom: 20px;

                &:last-child {
                    margin-top: 18px;

                    a {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: #765447;
        font-size: 16px;

        &:hover {
            text-decoration: underline;
        }
    }

    &.show {
        left: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .side-bar {
        display: flex;
    }
}

@media screen and (max-width: 524px) {
    .section-title {
        font-size: 26px;
    }
}

@media screen and (max-width: 524px) {
    .logo-header {
        font-size: 32px;
        margin: 0;
    }
}

@media screen and (max-width: 360px) {
    .side-bar {
        width: auto;

        a {
            font-size: 15px;
        }
    }
}
