.main-title {
    display: flex;
    height: 622px;
    width: 100%;
    background-image: url("../img/history.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__content {
        position: relative;
        z-index: 1;
        width: 1170px;
        margin: 0 auto;
        color: #424242;

        &--wrapper {
            width: 864px;

            h1 {
                font-size: 72px;
                font-weight: 500;
            }

            h3 {
                font-size: 40px;
                font-weight: 300;
            }

            ul {
                margin-bottom: 40px;
            }

            li {
                list-style-type: none;
                font-size: 20px;
                margin-bottom: 3px;
            }

            button {
                width: 350px;
                height: 50px;
                box-shadow: 0px 5px 0px 0px #564138;
                font-size: 20px;

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .main-title {
        height: auto;
        padding: 20px 0 20px 0;

        &__content {
            padding: 0 20px 0 20px;

            &--wrapper {
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        &__content {
            &--wrapper {
                h1 {
                    font-size: 55px;
                }

                h3 {
                    font-size: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .main-title {
        &__content {
            &--wrapper {
                h1, h3 {
                    margin: 10px 0 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 378px) {
    .main-title {
        padding: 2px 0 20px 0;

        &__content {
            &--wrapper {
                h1 {
                    font-size: 40px;
                }

                h3 {
                    font-size: 27px;
                }

                ul {
                    margin-bottom: 22px;
                }

                li {
                    font-size: 16px;
                }
            }

            button {
                width: 245px;
                font-size: 16px;
            }
        }
    }
}