.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;

    &__content {
        width: 1217px;
        margin-top: 39px;

        &--touch {
            display: none;
        }

        %cell {
            font-size: 17px;
            outline: 1px solid #dee2e6;
            outline-offset: 0px;
            width: 400px;
            height: 50px;
            text-align: left;
            padding-left: 10px;
        }

        table {
            th {
                @extend %cell;
            }

            tbody {
                td {
                    @extend %cell;
                    font-size: 16px;
                    font-weight: 100;
                }
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .price {
        padding-left: 20px;
        padding-right: 20px;

        &__content {
            width: auto;

            table {
                width: 800px;
                overflow: auto;
                margin: 0 auto;
                padding-left: 10px;
                padding-right: 10px;
            }

            &--table-scroll {
                overflow: auto;
                width: 100vw;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .price {
        &__content {

            &--touch {
                display: block;
                margin-left: 109px;
                margin-bottom: 11px;
            }
        }
    }
}