.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    width: 100%;
    height: 124px;
    background-color: var(--dark-gray);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 1172px;
        height: 100%;

        nav {
            ul {
                display: flex;
                justify-content: space-between;
                width: 518px;
            }

            a {
                font-family: 'Montserrat Alternates';
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.05em;
                text-decoration: none;
                color: var(--white);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &--social {
            display: flex;
            justify-content: space-between;
            width: 200px;

            a {
                height: 100%;
            }
        }

        &--burger-btn {
            display: none;
        }
    }
}

@media screen and (max-width: 1172px) {
    .header {

        &__content {
            padding: 0 20px 0 20px;

            nav {
                display: none;
            }

            &--social {
                display: none;
            }

            &--burger-btn {
                display: flex;
                flex-direction: column;
                cursor: pointer;
            }
        }
    }
}

.burger-btn-line {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: var(--white);
    margin-bottom: 7px;
    border-radius: 6px;
    transition: 0.5s;
}

@media screen and (max-width: 670px) {
    .header {
        justify-content: flex-end;
        height: 75px;

        &__content {

            img[alt="logo"] {
                position: relative;
                bottom: 5px;
                width: 114px;
                height: 39px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .header {
        &__content {
            width: 196px;
            margin: 0;
        }
    }
}