.header {
    display: flex;
    height: 124px;
    background-color: var(--dark-gray);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 1172px;
        height: 100%;

        nav {
            ul {
                display: flex;
                justify-content: space-between;
                width: 426px;
            }

            a {
                font-family: 'Montserrat Alternates';
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.05em;
                text-decoration: none;
                color: var(--white);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &--social {
            display: flex;
            justify-content: space-between;
            width: 200px;

            a {
                height: 100%;
            }
        }
    }
}