.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 216px;
    margin-top: 172px;

    &__content {
        display: flex;
        justify-content: space-between;
        width: 1170px;
        margin: 0 auto;

        &--nav-item {
            font-weight: 100;
            width: 110px;

            p {
                text-decoration: underline;
            }

            li {
                margin-bottom: 7px;
            }

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .footer {
        width: auto;
        padding: 0 30px 0 30px;
    }
}

@media screen and (max-width: 960px) {
    .footer {
        margin: 0;
    }
}

@media screen and (max-width: 726px) {
    .footer {
        margin-top: 123px;

        &__content {
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 632px) {
    .footer {
        margin-top: 71px;
    }
}

@media screen and (max-width: 504px) {
    .footer {
        margin-top: 90px;
    }
}

@media screen and (max-width: 440px) {
    .footer {
        margin-top: 42px;
    }
}

@media screen and (max-width: 354px) {
    .footer {
        margin-top: 31px;
    }
}
