@import "./common/common.scss";
@import "./header/header.scss";
@import "./ozonBlock/ozonBlock.scss";
@import "./productBlock/productBlock.scss";

@import "normalize.css";

@font-face {
    font-family: "Miama Nueva";
    src: url("../fonts/miamanueva.ttf") format("truetype");
    font-style: normal;
}

:root {
    --dark-gray: #222222;
    --white: #FFFFFF;
}

body {
    background-color: var(--dark-gray);
    color: var(--white);
}

h1 {
    margin: 0;
}

p {
    margin: 0;
    font-family: 'Montserrat Alternates';
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
}