@import "./header/header.scss";
@import "./ozonBlock/ozonBlock.scss";
@import "./about/about.scss";
@import "./productBlock/productBlock.scss";
@import "./formBlock/formBlock.scss";
@import "./footer/footer.scss";
@import "./common/title.scss";
@import "./common/sideBar.scss";
@import "./common/bubble.scss";
@import "./common/modal.scss";

@import "normalize.css";

@font-face {
    font-family: "Miama Nueva";
    src: url("../fonts/miamanueva.ttf") format("truetype");
    font-style: normal;
}

:root {
    --dark-gray: #222222;
    --white: #FFFFFF;
}

body {
    background-color: var(--dark-gray);
    color: var(--white);
}

h1,
h2 {
    margin: 0;
}

p {
    margin: 0;
    font-family: 'Montserrat Alternates';
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        transform: translateY(2px);
    }

    &:active {
        transform: translateY(4px);
    }
}

img {
    flex: 0 0 auto;
}

a {
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: var(--white);

    &:hover {
        text-decoration: underline;
    }
}

input[type="submit"] {
    transition: 0.2s;

    &:hover {
        transform: translateY(2px);
    }

    &:active {
        transform: translateY(4px);
    }
}