.about-block {
    &__content {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 1320px;

        &--description {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 20px;
            font-style: italic;
            line-height: 50px;
            letter-spacing: 1px;
            width: 650px;

            p {
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.large-photo {
    width: 650px;
    height: 757px;
    border-radius: 20px;
    object-fit: cover;
}

.small-photo {
    display: none;
    width: 131px;
    height: 242px;
    border-radius: 25px;
    object-fit: cover;
    margin-left: 3px;
}

@media screen and (max-width: 1320px) {
    .large-photo {
        width: 100%;
    }

    .about-block {
        &__content {
            width: 538px;
            flex-direction: column-reverse;

            &--description {
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .large-photo {
        display: none;
    }

    .small-photo {
        display: flex;
    }

    .about-block {
        &__content {
            width: 300px;
            margin-top: 0px;
            margin-bottom: 0px;

            &--description {
                div {
                    display: flex;
                }

                p {
                    color: #FFF;
                    text-align: center;
                    font-size: 14px;
                    font-style: italic;
                    line-height: 15px;
                    letter-spacing: 0.7px;
                }
            }
        }
    }
}