.products-block {
    display: flex;

    &__content {
        width: 1096px;
        margin: 0 auto;

        &--product-item {
            display: flex;
            align-items: center;
            margin-top: 74px;

            p {
                width: 538px;
                font-style: italic;
                font-size: 20px;
                line-height: 50px;
                text-align: center;
            }

            img {
                width: 538px;
                height: 538px;
                object-fit: cover;
                border-radius: 20px;
                box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.15);
            }
        }
    }
}

.reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1096px) {
    .products-block {
        &__content {
            width: 567px;

            &--product-item {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .products-block {
        &__content {
            width: 272px;

            &--product-item {
                margin-top: 0;

                img {
                    object-fit: cover;
                    width: 272px;
                    height: 140px;
                    border-radius: 25px;
                    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.15);
                }

                p {
                    width: auto;
                    font-size: 14px;
                    line-height: 25px;
                    margin: 10px 0 27px 0;
                }
            }
        }
    }
}