.products-block {
    display: flex;

    &__content {
        width: 1096px;
        margin: 0 auto;

        &--product-item {
            display: flex;
            align-items: center;
            margin-top: 28px;

            p {
                font-style: italic;
                font-size: 20px;
                line-height: 50px;
                text-align: center;
            }
        }
    }
}

.reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1096px) {
    .products-block {
        &__content {
            width: 567px;

            &--product-item {
                flex-direction: column;
            }
        }
    }
}